<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JuegosBrand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css')}}">
</head>
    <!-- AQUI COMIENZA EL HEADER-->
    <header>
        <div class="title">
            <h1>Bienvenido al Administrador de Juegos SteBrand</h1>
        </div>
        <div class="container_menu">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/juegos">Juegos</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                    </ul>
                </nav>
            </div>
            <div class="login">
                <a href="/admin/login">Login</a>
            </div>
        </div>
    </header>
