{% include'cliente/header.html' %}
<body>
    <section>
        <div class="bloque1">
            <div class="image_1">
                <img src="{{img[0]}}">
            </div>
            <div class="text_1">
                <p class="parrafo1">
                    Esta pagina fue creada para que puedas DESCARGAR tus juegos gratis a trav&eacute;de torrents los cuales
                    proporcionan una experiencia optima en la descarga, donde no tendras que esperar tiempos largos entre las partes

                </p>
            </div>
        </div>
    </section>
    <section>      
        <div class="bloque1">
            <div class="text_2">
                <p class="parrafo2">
                    Dentro de juegos Stebrand podras administrar los juegos que estan dentro de la pagina una vez te suscribas y tengas
                    tu propio usuario y contraseña. Esto con el fin de subir tus juegos favoritos y redireccionar a trav&eacute; de 
                    Torrents para que los usuarios puedan descargar con facilidad.
                </p>
            </div>              
            <div class="image_1">
                <img src="{{img[1]}}">
            </div>
        </div>
    </section>
{% include'cliente/footer.html' %}